.design {
    min-height: 550px;
    padding: 90px 0;
    background: url(../img/design/bg.png) left 10%/auto no-repeat;
    z-index: -3;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        z-index: 1;
        position: relative;
        width: 575px;
        height: 337px;
    }
    &__macbook {
        position: absolute;
        z-index: -2;
        width: 100%;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    &__photo {
        position: absolute;
        z-index: -1;
        width: 415px;
        height: 265px;
        left: 83px;
        top: 29px;
        border-radius: 10px;
    }
    &__item {
        max-width: 500px;
    }
    &__subheader {
        margin-top: 30px;
    }
    &__header {
        margin-top: 25px;
    }
    &__descr {
        margin-top: 36px;
    }
}