.start {
    padding: 98px 0 85px;
    min-height: 467px;
    background-color: #323969;
    &__subheader {
        text-align: center;
    }
    &__header {
        text-align: center;
    }
    &__form {
        position: relative;
        margin-top: 96px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        input {
            padding-left: 29px;
            width: 263px;
            height: 49px;
            border: 1px solid #fff;
            border-radius: 3px;
            background-color: #323969;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
        }
    }
    &__btn {
        width: 258px;
        border: 1px solid $color-pink;
        box-shadow: 0px 3px 3px 0px rgba(14,15,15,0.25);
        letter-spacing: 0.04em;
    }
    &__img {
        position: absolute;
        right: 185px;
        top: -55px;
    }
    &__trial {
        position: absolute;
        font-weight: 400;
        opacity: 0.8;
        right: 20px;
        top: -60px;
    }
    &__policy {
        margin-top: 52px;
        text-align: center;
        font-weight: 400;
        &-link {
            text-decoration: underline;
            color: inherit;
            &:hover {
                color: $color-pink;
                transition: 0.3s;
            }
        }
    }

}