@import 'libs/bootstrap-reboot.min';
@import 'base/variables';
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500&display=swap');

* {
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/btn';
@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/feature';
@import 'blocks/design';
@import 'blocks/partner';
@import 'blocks/details';
@import 'blocks/start';

@import 'blocks/media';
